
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&family=Nunito:ital,wght@1,200&family=Overpass:wght@100&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,200;1,500&display=swap');



body {
    margin: 0;
	background-color: #fff;
	height: 100vh;
	display: flex;
	justify-content: center;
}
/* THE CONTAINER */
.ContainerMain {
    margin-top: 4rem;
}

/* ============  PROFILE SECTION =======*/
.Main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 32px;
	width: 1216px;
	height: 774px;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-top: 3rem;
}



/* PROFILE IMAGE */
.profile_image{
	width: 150px;
}


/* SHARE BUTTON  */
.shareButton{
position: absolute;
width: 50px;
height: 50x;
right: 300px;
top: 30px;
left: 90%;
background: #FFFFFF;
border: 1px dashed #D0D5DD;
border-radius: 25px;

}

.shareButton:hover{
    cursor: pointer;
}

/* TWITTER NAME */
.twitter {
	width: 1152px;
	height: 30px;
    font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	color: #101828;
	margin-top: 30px;
}

/* SLACK */
.slack{
    visibility: hidden;
}
/* end of profile section  */


/* ========LINK SECTION=======  */
.inks_section{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 1152px;
height: 576px;
}

/* FIRST BUTTON  TWITTER LINKS*/
.btn__zuri{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
width: 1152px;
height: 90px;
background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;
}


/* BUTTON TEXT   */
.Twitter_Link{
height: 28px;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #101828;
text-decoration: none;
}


/* SECOND BUTTON BOOKS   */
.books{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
margin-top: 20px;
width: 1152px;
height: 90px;
background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;

}

.books_text{
height: 28px;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #101828;
text-decoration: none;

}


/* THIRD BUTTON  PYTHON BOOKS  */
.book__python{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
margin-top: 20px;
width: 1152px;
height: 90px;
background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;

}

.book__python_text{
height: 28px;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #101828;
text-decoration: none;
}


/* FOURTH BUTTON  PITCH */
.pitch{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
margin-top: 20px;
width: 1152px;
height: 90px;
background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;

}

.pitch_text{
 height: 28px;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #101828;
text-decoration: none;

}


/* FIFTH BUTTON  BOOK DESIGN  */
.book__design{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
margin-top: 20px;
width: 1152px;
height: 90px;
background: #EAECF0;
border: 1px solid #EAECF0;
border-radius: 8px;
    box-shadow:  (0px 1px 2px rgba(16, 24, 40, 0.05));

}

.book__design_text{
 height: 28px;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #101828;
text-decoration: none;
}

/* HOVER EFFECT ALL THE BUTTON */

button:hover {
 background: #D0D5DD;
}


/*======== SOCIAL ICONS SECTION=======  */
.ContainerIconsHidden {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 32px;
gap: 32px;
width: 1216px;
height: 24px;
margin-top: 100px;
}

.ContainerIconsHidden.content{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
width: 1152px;
height: 24px;
}

.icons{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;

width: 1172px;

}


/*============ FOOTER SECTION ============ */
.footer{
border-top: 1px solid rgb(240, 240, 240);
border-width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding: 48px 0px;
gap: 64px;
width: 1440px;
height: 160px;
left: 0px;
margin-top: 300px;
}


.content_Footer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 0px 0px;
gap: 10rem;

width: 1216px;
height: 64px;
}

/* logo */
.logo{
width: 187.59px;
height: 32px;
}

/* FOOTER TEXT */
.FooterText{	
width: 832.28px;
height: 24px;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 24px;
text-align: center;
color: #667085;

}

/* =========MEDIA QUARRY FOR MOBILE =========*/
@media only screen and (max-width: 600px){

	/* CONTAINER CONTAIN ALL CONTENT */
.ContainerMain{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px;
gap: 32px;
width: 375px;
height: 700px;
}
/* MAIN CONTENT */
.Main{
display: grid;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;


}
/* PROFILE SECTION  */
.profile{
display: flex;
justify-content: center;
align-items: center;
margin: auto;

}

.profile_image{
	margin-left: 50px;
}
.twitter{
	margin-left: 50px;
}



/* BUTTON SECTION */


.links_section{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
width: 400px;
margin: auto;
height: 528px;
}

.MobileView{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;
width: 343px;
height: 68px;

}

.TextPhone{
width: 72px;
height: 20px;
 font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
color: #101828;
}

/* HIDDEN ICONS AND FOOTER ON  PHONE VIEW */


.ContainerIconsHidden{
	margin-top: 0px;
}
.footer{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px;
gap: 32px;
width: 375px;
height: 24px;
margin-top: 200px;
}

.content_Footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 0px 0px;
gap: 16px;
width: 300px;
height: 132px;

border-top: 1px solid #EAECF0;
}

.logoOn{
width: 140.69px;
height: 24px;
font-size: 20px;
}

.FooterText{
width: 213px;
height: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;

}

.logo{
	width: 99.1px;
height: 24px;
}
}
